 <!-- this is the main content code -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <!-- Your main content goes here -->
        
            {% include "modal.html" %}
            {% include "search.html" %}
        
        <!-- home posts code -->
            <div>{% for pos in post %}
                <div class="container" id="{{pos.id}}">
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <div class="post-card"style="border: 1px solid black;margin: 50px;">
                                <img src="{{pos.image.url}}" alt="Post Image" class="post-image"
                                    style="height: 70vh; width:90%; margin: 25px;">
                                <div class="post-content"style="margin-left: 19px;">
                                    <h5><a href="/profile/{{pos.user}}" style="text-decoration: none;">@{{pos.user}}</a></h5>
                                    <p>{{pos.caption}}</p>
                                    <p class="text-muted">{{pos.created_at}}</p>
                                    <hr>
                                    <div class="d-flex justify-content-between" style="margin-bottom: 8px; margin-right:10px;">
            
                                        <a href="/like-post/{{pos.id}}" class="btn btn-outline-primary">Like</a>
            
                                        {% if pos.no_of_likes == 0 %}
                                        <p>0</p>
                                        {% elif pos.no_of_likes == 1 %}
                                        <p>Liked by {{pos.no_of_likes}} person</p>
                                        {% else %}
                                        <p>Liked by {{pos.no_of_likes}} people</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
            </div>
        
        
        </main>